# @package _global_

defaults:
  - dreamer_v3
  - _self_

## Episodic Memory Stuff ##
episodic_memory:
  trajectory_length: 20
  capacity: 1024
  k_neighbors: 5
  uncertainty_threshold: 0.9
  prune_fraction: 0.2
  time_to_live: 100
  rehersal_train_every: 512
  enable_rehersal_training: true
  write_threshold_last_N: 128
  read_threshold_last_N: 128
  percentile_treshold: 90
# Algorithm
algo:
  replay_ratio: 1

  # per_rank_batch_size: 16
  # per_rank_sequence_length: 64
  # cnn_keys:
  #   encoder: [rgb]
  #   decoder: [rgb]

# Checkpoint
# checkpoint:
#   every: 100000

# Buffer
# buffer:
#   size: 1000000
#   checkpoint: True

# Distribution
# distribution:
#   type: "auto"

metric:
  log_every: 1000
  # aggregator:
  #   metrics:
  #     Loss/world_model_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/value_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/policy_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/observation_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/reward_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/state_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Loss/continue_loss:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     State/kl:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     State/post_entropy:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     State/prior_entropy:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Grads/world_model:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Grads/actor:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
  #     Grads/critic:
  #       _target_: torchmetrics.MeanMetric
  #       sync_on_compute: ${metric.sync_on_compute}
